.link {
  color: #fff;
  margin: 10px;
}

.link:hover {
  color: rgb(0, 0, 0);
}

.iconButtonBarLeft::hover{
    color: rgb(0, 0, 0);
}

.flexFullSize {
  display: flex;
  width: 100%;
  height: 100%;
}

.iconButtonBarLeft {
  display: flex;
  align-items: center;
  justify-content: start;
}

.iconButtonBarRight {
  align-items: center;
  justify-content: end;
}

.toolbarAppBar {
  margin-left: 20px;
  margin-right: 20px;
}
